[Unit]
Description=pinoq
Documentation="https://github.com/amiremohamadi/pinoq"
After=network.target

[Service]
Type=simple

Environment=PINOQ_MOUNT="/tmp/mnt"
Environment=PINOQ_DISK="/tmp/disk.gz"
Environment=PINOQ_BACKEND="gz"
Environment=PINOQ_ASPECTS=8
Environment=PINOQ_BLOCK_SIZE=2048

User=user
Restart=on-failure

[Install]
WantedBy=multi-user.target
