[Unit]
Description=pinoq
Documentation="https://github.com/amiremohamadi/pinoq"

[Service]
User=root
Type=simple
ExecStart=pinoq --mount /etc/pinoq.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
